@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.hero {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}

.hero .photos {
  display: block;
  width: 100%;
  height: 100%;

  background-image: var(--prev-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .photos::before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-image: var(--current-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
}

.hero .photos::after {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: "";
  background: hsl(202.15deg 88.62% 15.69%);
  mix-blend-mode: color;
  opacity: 0.4;
}

.hero .photos[animate]::before {
  animation: fadein 0.3s ease forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero .filters::after {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: "";
  background: #595963;
  mix-blend-mode: luminosity;
  opacity: 0.3;
}

.hero .description {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 15px 0 0 15px;
}

.hero .description a {
  color: #38bdf8;
  text-decoration: none;
}

.hero .center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  align-content: center;
  justify-self: center;

  width: 30rem;
  height: min-content;
  padding-top: 15vh;
  margin: 0 auto;
  
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
