@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: rgb(15, 23, 42);
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 6%;
  color: #fff;

  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
}

.navbar .logo {
  font-size: 1.35rem;
  font-weight: 700;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}

.navbar .logo span {
  color: #c8a96b;
}

.navbar .nav-links {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
}

.nav-links a {
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  transition: color 0.25s ease;
}

.nav-links a:hover {
  color: #c8a96b;
}

.nav-button {
  padding: 10px 18px;
  color: #fff !important;
  background: #0000;
  border: 1px solid #c8a96b;
  transition: all 0.25s ease !important;
}

.nav-button:hover {
  /* color: #101820 !important; */
  background: #c8a96b;
}
